<?xml version="1.0"?>
<robot name="kani" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:include filename="$(find kani_description)/urdf/base.urdf.xacro"/>
  <xacro:include filename="$(find kani_description)/urdf/wheels.urdf.xacro"/>
  <xacro:include filename="$(find kani_description)/gazebo/gazebo.urdf.xacro"/>

  <xacro:kani_base/>

  <xacro:rf_steer parent="base_link" x="0.092" y="-0.08875" z="-0.0039" />
  <xacro:lf_steer parent="base_link" x="0.092" y="0.08875" z="-0.0039" />
  <xacro:rb_steer parent="base_link" x="-0.092" y="-0.08875" z="-0.0039"/>
  <xacro:lb_steer parent="base_link" x="-0.092" y="0.08875" z="-0.0039" />

  <xacro:rf_wheel parent="rightFront_steer_link" x="0" y="0" z="-0.03945"/>
  <xacro:lf_wheel parent="leftFront_steer_link" x="0" y="0" z="-0.03945" />
  <xacro:rb_wheel parent="rightBack_steer_link" x="0" y="0" z="-0.03945" />
  <xacro:lb_wheel parent="leftBack_steer_link" x="0" y="0" z="-0.03945" />


</robot>
