<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find kani_description)/urdf/base.transmission.xacro"/> -->
  <!-- <xacro:include filename="$(find kani_description)/urdf/base.gazebo.xacro" /> -->
  <xacro:include filename="$(find kani_description)/urdf/sensors/rplidar_A1.urdf.xacro" />
  <xacro:include filename="$(find kani_description)/urdf/sensors/_d435.urdf.xacro" />
  <xacro:property name="base_height" value="0.07" />
  

  <xacro:macro name="kani_base">
    <link name="base_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${base_height}" rpy="0 0 0"/>
      <child link="base_link" />
      <parent link="base_footprint"/>
    </joint>

    <link name="base_link">

      <gravity>1</gravity>
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="0 0 0"/>
        <mass 
          value="5"/>
        <inertia
          ixx="4e-3"
          ixy="0"
          ixz="0"
          iyy="3e-3"
          iyz="0"
          izz="7e-3"/>
      </inertial>
      <visual>
        <origin
          xyz="-0.125 -0.1 -0"
          rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="package://kani_description/meshes/base_v3.stl"/>
        </geometry>
        <!-- <material>
        </material> -->
      </visual>
      <collision>
        <origin
          xyz="-0.125 -0.1 0"
          rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="package://kani_description/meshes/base_v3.stl"/>
        </geometry>
        <!-- <material>
        </material> -->
      </collision>	 
    </link>

    <!-- intel realsense d435 utm30lx-->
    <sensor_d435 parent="base_link">
      <origin xyz="0.110 0.0 0.02" rpy="0 0 0"/>
    </sensor_d435>
    <sensor_a1 parent="base_link" name="laser">
      <origin xyz="0.02 0.03 0.02" rpy="0 0 0"/>
    </sensor_a1>

    <!-- Extensions -->
    <xacro:kani_base_gazebo/>

  </xacro:macro>
        









</robot>
