<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find kani_description)/urdf/base.transmission.xacro"/> -->
  <!-- <xacro:include filename="$(find kani_description)/urdf/base.gazebo.xacro" /> -->


  <xacro:macro name="kani_base">
    <link name="base_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <child link="base_link" />
      <parent link="base_footprint"/>
    </joint>

    <link name="base_link">
      <inertial>
        <origin
          xyz="0.0 0.0 0.06"
          rpy="0 0 0"/>
        <mass 
          value="0.05"/>
        <inertia
          ixx="0.2"
          ixy="0"
          ixz="0"
          iyy="0.2"
          iyz="0"
          izz="0.2"/>
      </inertial>
      <visual>
        <origin
          xyz="-0.125 -0.1 0.05"
          rpy="${pi/2} 0 ${pi/2}"/>
        <geometry>
          <mesh
            filename="package://kani_description/meshes/base.stl"/>
        </geometry>
        <!-- <material>
        </material> -->
      </visual>
      <collision>
        <origin
          xyz="-0.1 -0.125 0.06"
          rpy="0 0 0"/>
        <geometry>
          <mesh
            filename="package://kani_description/meshes/base.stl"/>
        </geometry>
        <!-- <material>
        </material> -->
      </collision>	 
    </link>
    <!-- Wheel macros -->
    <!-- <xacro:rwheel />
    <xacro:lwheel /> -->

    <!-- Hokuyo utm30lx-->
    <!-- <xacro:hokuyo_utm30lx name="hokuyo" parent="base_link"/> -->
    <!-- <xacro:hokuyo_utm30lx_back name="hokuyo_back" parent="base_link"/> -->

    <!-- Extensions -->
    <!-- <xacro:kani_base_gazebo/> -->

  </xacro:macro>
        









</robot>
