<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:macro name="kani_base">
    <link name="base_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>
	  <box size="0.001 0.001 0.001"/>
	</geometry>
      </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <child link="base_link" />
      <parent link="base_footprint"/>
    </joint>

    <link name="base_link">
      <inertial>
        <origin
	  xyz="0.0 0.0 0.0"
	  rpy="0 0 0"/>
	<mass 
	  value="0.05"/>
	<inertia
	  ixx="0.2"
	  ixy="0"
	  ixz="0"
	  iyy="0.2"
	  iyz="0"
	  izz="0.2"/>
	</inertial>
	<visual>
 	  <origin
            xyz="0 0 0"
	    rpy="0 0 0"/>
	  <geometry>
	    <mesh
		filename="package://kani_description/STL/base.stl"/>
	  </geometry>
	<!--<material>
	</material>-->
	</visual>
	<collision>
 	  <origin
            xyz="0 0 0"
	    rpy="0 0 0"/>
	  <geometry>
	    <mesh
		filename="package://kani_description/STL/base.stl"/>
	  </geometry>
	  <material>
	  </material>
	</collision>	 
    </link>
  </xacro:macro>
	









</robot>
