<robot name="4WDSR">


<link name="base">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
</link>
<link name="wheel-lf">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
</link>
<link name="wheel-rf">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
</link>
<link name="wheel-lb">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
</link>
<link name="wheel-rb">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
</link>

<joint name="joint-lf" type="continuous">
<parent link="base"/>
<child link="wheel-lf"/>
</joint>

<joint name="joint-rf" type="continuous">
<parent link="base"/>
<child link="wheel-rf"/>
</joint>

<joint name="joint-lb" type="continuous">
<parent link="base"/>
<child link="wheel-lb"/>
</joint>

<joint name="joint-rb" type="continuous">
<parent link="base"/>
<child link="wheel-rb"/>
</joint>


</robot>
