<launch>

  <!--Argument in this launch file-->
  <arg name="rqt_steering" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="model" default="$(find kani_description)/robots/kani.urdf.xacro"/>
  <arg name="world_name" default="$(find ironfish_gazebo)/world/iceira302.world"/>
  <!--arg name="world_name" default="$(find iceira_gazebo)/world/iceira_v3.world"/-->
  <arg name="rvizconfig" default="$(find kani_gazebo)/rviz/kani.rviz" />
  <arg name="controllers_config" default="$(find kani_ros_control)/config/kani_ros_control_sim.yaml" />
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <!-- Launch gazebo world.
  We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="gui" value="true"/>
  
  </include>

  <!-- Convert an xacro and put on parameter server-->
  <param name="robot_description" command="python $(find xacro)/xacro $(arg model)" />

  <!-- start four_wheel_steering -->
  <!-- <node name="four_wheel_steering"
      pkg="four_wheel_steering_controller"
      type="four_wheel_steering" output="screen"/> -->



  <!-- Spawn a robot into Gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y) -unpause -urdf -model kani -param robot_description"
    respawn="false" output="screen"/>

  <!--Load controller parameter-->
  <rosparam command="load" file="$(arg controllers_config)"/>

  <!--Load PID-->
  <rosparam command="load" file="$(find kani_gazebo)/config/gazebo_ros_control_params.yaml"/>

  <!--Publish robot state-->
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
     <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!--Spawn Controller-->
  <node name="four_wheel_controller_spawner" pkg="controller_manager" type="spawner"
    args="kani_joint_state_publisher
          kani_steering_controller"
    ns="/"
  respawn="false"/>

  <!--Gui steering console (Optional)-->
  <group if="$(arg rqt_steering)">
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="/kani_steering_controller/cmd_vel"/>
    </node>
  </group>

  <!--Gui rviz interface (Optional)-->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  </group>

</launch>
